# Ignore model file
models/classifier.pkl

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore MacOS system files
.DS_Store

# Ignore environment variables file
.env
models/classifier.pkl
*.pyc
__pycache__/
.DS_Store
.env
